<div *ngIf="users" class="mat-elevation-z8">
  <table [dataSource]="users" class="usersTable" mat-table matSort>

    <!-- UserId Column -->
    <ng-container matColumnDef="userId">
      <th *matHeaderCellDef mat-header-cell mat-sort-header="userId"> UserId</th>
      <td *matCellDef="let user" mat-cell> {{user.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell mat-sort-header="name"> Name</th>
      <td *matCellDef="let user" mat-cell> {{user.name}} </td>
    </ng-container>

    <!-- First Name Column -->
    <ng-container matColumnDef="firstName">
      <th *matHeaderCellDef mat-header-cell mat-sort-header="firstName"> First name</th>
      <td *matCellDef="let user" mat-cell> {{user.firstName}} </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let user; columns: displayedColumns;" mat-row>
      <!--(click)="onSelect(user)"-->
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

<!--<app-user-details [user]="selectedUser"></app-user-details>-->
