
<div class="mat-elevation-z8" *ngIf="dataSource">
  <table mat-table [dataSource]="dataSource" matSort class="shoppingCartTable">

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="title"> Title</th>
      <td mat-cell *matCellDef="let orderLine"> {{orderLine.article.title}} </td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="price"> Price</th>
      <td mat-cell *matCellDef="let orderLine"> {{orderLine.article.price}} </td>
    </ng-container>

    <!-- Quantity Column -->
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="quantity"> Quantity</th>
      <td mat-cell *matCellDef="let orderLine"> {{orderLine.quantity}} </td>
    </ng-container>

    <!-- SubTotal Column -->
    <ng-container matColumnDef="subtotal">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="subtotal"> SubTotal</th>
      <td mat-cell *matCellDef="let orderLine">  {{calculateSubtotal(orderLine.quantity, orderLine.article.price)}} </td>
    </ng-container>

    <!--Delete Column-->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="delete"> Delete</th>
      <td mat-cell *matCellDef="let orderLine">
        <button mat-raised-button (click)="deleteOrderLine(orderLine.id)">
          <i class="material-icons">
            delete_forever
          </i>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let orderLine; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
