<div>
  <form class="RegisterForm" #f="ngForm" (ngSubmit)="register(f)">
    <div class="form-group">
      <mat-form-field class="displayText">
        <input
          matInput
          required
          minlength="3"
          [(ngModel)]="firstName"
          name="firstName"
          #firstname="ngModel"
          placeholder="First Name"
          id="firstName"
          type="text"
          class="displayText">
        <mat-error *ngIf="firstname.touched &&!firstname.valid">
          <mat-error *ngIf="firstname.errors.required">first name required!</mat-error>
          <mat-error *ngIf="firstname.errors.minlength">minimum 3 characters!</mat-error>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field class="displayText">
        <input matInput
               required
               [(ngModel)]="lastName"
               #lastname="ngModel"
               name="lastName"
               placeholder="Last Name"
               id="lastName"
               type="text"
               class="form-control">
        <mat-error *ngIf="lastname.touched &&!lastname.valid">
          <mat-error *ngIf="lastname.errors.required">last name required!</mat-error>
          <mat-error *ngIf="lastname.errors.minlength">minimum 3 characters!</mat-error>
        </mat-error>


      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="displayText">
        <input matInput
               required
               [(ngModel)]="userName"
               #username="ngModel"
               name="userName"
               placeholder="User Name"
               type="text"
               class="form-control">
        <mat-error *ngIf="username.touched &&!username.valid">
          <mat-error *ngIf="username.errors.required">username required!</mat-error>
          <mat-error *ngIf="username.errors.minlength">minimum 3 characters!</mat-error>
        </mat-error>

      </mat-form-field>
    </div>
    <div class="form-group">
      <button mat-button class="displayText">Register</button>
    </div>
  </form>
</div>
