
<form class="RegisterForm" #f="ngForm" (ngSubmit)="register(f)">
  <div class="form-group">
    <mat-form-field class="example-full-width">
      <input
        matInput
        required
        minlength="3"
        [(ngModel)]="firstName"
        name="firstName"
        #firstname="ngModel"
        placeholder="First Name"
        id="firstName"
        type="text"
        class="form-control">
      <mat-error *ngIf="firstname.touched &&!firstname.valid">
      <mat-error *ngIf="firstname.errors.required">first name required!</mat-error>
      <mat-error *ngIf="firstname.errors.minlength">minimum 3 characters!</mat-error>
      </mat-error>
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field class="example-full-width">
      <input matInput required ngModel name="lastName" placeholder="Last Name" type="text" class="form-control">
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="example-full-width">
      <input matInput required ngModel name="userName" placeholder="User Name" type="text" class="form-control">
    </mat-form-field>
  </div>
  <div class="form-group">
    <button mat-button>Register</button>
  </div>
</form>

