
<mat-card class="detailCard">
  <mat-card-header>
    <mat-card-title> {{nonFiction.title}}</mat-card-title>
    <mat-card-subtitle> publisher: {{nonFiction.publisher}}</mat-card-subtitle>
    <button mat-button>edit</button>
    <button mat-button color="warn" routerLink="/nonFictionsOverview" (click)="delete()">delete</button>

  </mat-card-header>
  <mat-card-content>
    <div>
      Author:
    </div>
    <p>{{nonFiction.author}}</p>
    <div>
      total pages:
    </div>
    <p> {{nonFiction.totalPages}}</p>
    <div>
      ISBN:
    </div>
    <p>{{nonFiction.isbn}}</p>
    <div>
      Genre:
    </div>

    <div>
      price:
    </div>
    <p>{{nonFiction.price}}</p>

  </mat-card-content>
  <mat-card-actions>


    <div>
      <form #f="ngForm" (ngSubmit)="addToCart(f)">
        <mat-form-field>
          <input matInput placeholder="amount" ngModel name="quantity">
        </mat-form-field>
        <button mat-button (click)="showSnackBar()">add to cart</button>
      </form>
    </div>

  </mat-card-actions>


</mat-card>


