<div *ngIf="!lp">Loading</div>
<div *ngIf="lp">
  <div class="myContainer">
    <mat-card class="mat-card">
      <mat-card-header>
        <!--<div mat-card-avatar=""></div>-->
        <mat-card-title>{{lp.title}}</mat-card-title>
        <mat-card-subtitle>by {{lp.artist}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Details here.</p>
      </mat-card-content>
      <mat-card-actions>
        <app-order-article [article]="lp"></app-order-article>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
