<div style="align-content: center">
  <mat-card>

    <form (ngSubmit)="createLp()" [formGroup]="createLpForm">

      <table cellspacing="20" class="create-lp">
        <tr>
          <td>
            <mat-form-field class="create-lp-read-only">
              <input [readonly]="type" formControlName="type" matInput placeholder="Article type">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="create-lp">
              <input formControlName="publisher" matInput placeholder="Publisher">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="create-lp">
              <input formControlName="title" matInput placeholder="Title">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="create-lp">
              <input formControlName="price" matInput placeholder="Price">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="create-lp">
              <input formControlName="supplierId" matInput placeholder="Supplier ID">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="create-lp">
              <mat-select class="mat-select-menu" formControlName="lpGenre" placeholder="Lp genre">
                <mat-option *ngFor="let genre of lpGenres()" [value]="genre">
                  {{genre}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <button class="green-button" mat-raised-button type=submit>
            Submit
          </button>
        </tr>
      </table>

    </form>

  </mat-card>
</div>
