/target/
!.mvn/wrapper/maven-wrapper.jar

###STS###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

###IntelliJIDEA###
.idea
*.iws
*.iml
*.ipr

###NetBeans###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

######################
#ProjectSpecific
######################
/target/www/**
/src/test/javascript/coverage/

######################
#Node
######################
/node/
node_tmp/
node_modules/
npm-debug.log.*
/.awcache/*
/.cache-loader/*

######################
#SASS
######################
.sass-cache/

######################
#Eclipse
######################
*.pydevproject
.project
.metadata
tmp/
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.factorypath
/src/main/resources/rebel.xml

#Externaltoolbuilders
.externalToolBuilders/**

#Locallystored"Eclipselaunchconfigurations"
*.launch

#CDT-specific
.cproject

#PDT-specific
.buildpath

######################
#Intellij
######################
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig
classes/
out/

######################
#VisualStudioCode
######################
.vscode/

######################
#Maven
######################
/log/
/target/
target/

######################
#Gradle
######################
.gradle/
/build/

######################
#PackageFiles
######################
*.jar
*.war
*.ear
*.db

######################
#Windows
######################
#Windowsimagefilecaches
Thumbs.db

#Folderconfigfile
Desktop.ini

######################
#MacOSX
######################
.DS_Store
.svn

#Thumbnails
._*

#Filesthatmightappearonexternaldisk
.Spotlight-V100
.Trashes

######################
#Directories
######################
/bin/
/deploy/

######################
#Logs
######################
*.log*

######################
#Others
######################
*.class
*.*~
*~
.merge_file*

######################
#GradleWrapper
######################
!gradle/wrapper/gradle-wrapper.jar

######################
#MavenWrapper
######################
!.mvn/wrapper/maven-wrapper.jar

######################
#ESLint
######################
.eslintcache
