<form>
  <mat-form-field>
    <mat-select [(ngModel)]="selectedValue" name="articleType" placeholder="Article type">
      <mat-option *ngFor="let articleType of articleTypes" [value]="articleType">
        {{articleType}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>

<app-create-game *ngIf="selectedValue === 'Game'" [type]="selectedValue"></app-create-game>
<app-create-fiction *ngIf="selectedValue === 'Fiction'" [type]="selectedValue"></app-create-fiction>
<app-create-non-fiction *ngIf="selectedValue === 'Non fiction'" [type]="selectedValue"></app-create-non-fiction>
<app-create-lp *ngIf="selectedValue === 'Lp'" [type]="selectedValue"></app-create-lp>
