<form>
  <mat-form-field>
    <mat-select [(ngModel)]="selectedValue" name="articleType" placeholder="Article type">
      <mat-option *ngFor="let articleType of articleTypes" [value]="articleType">
        {{articleType}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <p> Selected article: {{selectedValue}} </p>
</form>

<app-create-game *ngIf="selectedValue === 'game'" [type]="selectedValue"></app-create-game>
<app-create-fiction *ngIf="selectedValue === 'fiction'" [type]="selectedValue"></app-create-fiction>
<app-create-non-fiction *ngIf="selectedValue === 'nonFiction'" [type]="selectedValue"></app-create-non-fiction>
<app-create-lp *ngIf="selectedValue === 'lp'" [type]="selectedValue"></app-create-lp>
