<div style="align-content: center">
  <mat-card>

    <form (ngSubmit)="createFiction()" [formGroup]="createFictionForm">

      <table cellspacing="20" class="create-fiction">
        <tr>
          <td>
            <mat-form-field class="create-fiction-read-only">
              <input formControlName="type" matInput placeholder="Article type">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="create-fiction">
              <input formControlName="title" matInput placeholder="Title">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="create-fiction">
              <input formControlName="author" matInput placeholder="Author">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="create-fiction">
              <input [dropSpecialCharacters]="false" formControlName="price" mask="999999.00"
                     matInput placeholder="Price">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="create-fiction">
              <mat-select class="mat-select-menu" formControlName="fictionGenre" placeholder="Fiction genre">
                <mat-option *ngFor="let genre of fictionGenres()" [value]="genre">
                  {{genre}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="create-fiction">
              <input [dropSpecialCharacters]="false" formControlName="isbn" mask="000-00-0000-000-0" matInput
                     placeholder="Isbn" type="text">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="create-fiction">
              <input formControlName="nrOfPages" mask="9999" matInput
                     placeholder="nr of pages">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="create-fiction">
              <input formControlName="shortSummary" matInput placeholder="Short summary">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="create-fiction">
              <input formControlName="supplierId" matInput placeholder="Supplier ID">
            </mat-form-field>
          </td>
        </tr>
        <tr>

        </tr>
        <tr>
          <button class="submit-button" mat-button type=submit>
            Submit
          </button>
        </tr>
      </table>

    </form>

  </mat-card>
</div>
