<div style="align-content: center">
  <mat-card *ngIf="selectedArticle">

    <mat-list>
      <mat-list-item> Article id: {{selectedArticle.articleId}}</mat-list-item>
      <mat-list-item> Title: {{selectedArticle.title}} </mat-list-item>
      <mat-list-item> Supplier id: {{selectedArticle.supplierId}} </mat-list-item>
      <mat-list-item> Price: {{selectedArticle.price}} </mat-list-item>
      <mat-list-item> Publisher: {{selectedArticle.publisher}} </mat-list-item>
      <mat-list-item> Genre: {{selectedArticle.gameGenre}} </mat-list-item>
      <mat-list-item> Minimum age: {{selectedArticle.minimumAge}} </mat-list-item>
    </mat-list>

    <form (ngSubmit)="submitQuantity()" [formGroup]="submitQuantityForm">
      <mat-form-field class="submit-quantity">
        <input formControlName="quantity" matInput placeholder="Quantity">
        <mat-error *ngFor="let validation of validation_messages.quantity">
          <mat-error *ngIf="submitQuantityForm.get('quantity').hasError(validation.type) && (submitQuantityForm.get('quantity').dirty
                 || submitQuantityForm.get('quantity').touched || submitQuantityForm.get('quantity').pending)" class="error-message">{{validation.message}}</mat-error>
        </mat-error>
      </mat-form-field>

      <button class="green-button" mat-raised-button type=submit>
        Add to shoppingCart
      </button>

    </form>

    <button (click)="editArticle(selectedArticle)" class="edit-button" color="primary" mat-raised-button>
      Edit
    </button>

  </mat-card>
</div>
