
<mat-card class="detailCard">
  <mat-card-header>
    <mat-card-title> {{fiction.title}}</mat-card-title>
    <mat-card-subtitle> publisher: {{fiction.publisher}}</mat-card-subtitle>
    <button mat-button>edit</button>
    <button mat-button color="warn" routerLink="/fictionsOverview" (click)="delete()">delete</button>

  </mat-card-header>
  <mat-card-content>
    <div>
     Author:
    </div>
    <p>{{fiction.author}}</p>
    <div>
     total pages:
    </div>
    <p> {{fiction.totalPages}}</p>
    <div>
     ISBN:
    </div>
    <p>{{fiction.isbn}}</p>
    <div>
     Genre:
    </div>
    <div>
     Preview:
    </div>
    <p>{{fiction.preview}} </p>
    <div>
     price:
    </div>
    <p>{{fiction.price}}</p>

  </mat-card-content>
  <mat-card-actions>

    <div>
      <form #f="ngForm" (ngSubmit)="addToCart(f)">
        <mat-form-field>
          <input matInput placeholder="amount" ngModel name="quantity">
        </mat-form-field>
        <button mat-button (click)="showSnackBar()">add to cart</button>
      </form>
    </div>



  </mat-card-actions>


</mat-card>
<app-review *ngIf="fiction" class="reviewComponent" [item]="fiction"></app-review>



