<div style="align-content: center">
  <mat-card *ngIf="selectedArticle">

    <mat-list>
      <mat-list-item> Article id: {{selectedArticle.articleId}}</mat-list-item>
      <mat-list-item> Title: {{selectedArticle.title}} </mat-list-item>
      <mat-list-item> Supplier id: {{selectedArticle.supplierId}} </mat-list-item>
      <mat-list-item> Price: {{selectedArticle.price}} </mat-list-item>
      <mat-list-item> Publisher: {{selectedArticle.publisher}} </mat-list-item>
      <mat-list-item> Genre: {{selectedArticle.lpGenre}} </mat-list-item>
    </mat-list>

    <form (ngSubmit)="submitQuantity()" [formGroup]="submitQuantityForm">
      <mat-form-field class="submit-quantity">
        <input formControlName="quantity" matInput placeholder="Quantity">
      </mat-form-field>

      <button class="submit-button" mat-button type=submit>
        Add to shoppingCart
      </button>
    </form>

  </mat-card>
</div>
