<app-navbar></app-navbar>
<div class="afterNavMessage">
  <h3>cReate a  Fiction Book</h3>
</div>




<div class="afterNav">

  <form class="createFictionForm" #f="ngForm" (ngSubmit)="addFiction(f)">

    <div class="addItems">
      <app-add-items (newPrice)="setPrice($event)" (newTitle)="setTitle($event)" ></app-add-items>
    </div>


    <div>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Genre" name="genre">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="preview" type="textarea" name="preview"></textarea>
      </mat-form-field>
    </div>

    <button mat-button>cReate!</button>
  </form>

</div>

<app-footer></app-footer>
