<div>
       <h3> cReate a Fiction Book</h3>
</div>
    <form  #f="ngForm" (ngSubmit)="addFiction(f)">
      <div >
        <app-add-items (newPrice)="setPrice($event)" (newTitle)="setTitle($event)"></app-add-items>
      </div>

      <div >
        <mat-form-field>
          <input matInput
                 required
                 placeholder="Author"
                 ngModel
                 name="author">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input matInput required placeholder="total pages" ngModel name="totalPages">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input matInput required placeholder="ISBN" ngModel name="isbn">
        </mat-form-field>
      </div>


      <div>
        <mat-form-field class="example-full-width">
          <input matInput required placeholder="Genre" name="genre">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="example-full-width">
          <textarea matInput required placeholder="preview" ngModel type="textarea" name="preview"></textarea>
        </mat-form-field>
      </div>
      <button mat-button (click)="showSnackBar()" >cReate!</button>
    </form>


