<div class="outer">
  <br/>
  <br/>
  <mat-card class="example-card"><h3 class="ellis">Register</h3>
  <mat-form-field color="accent">
    <input matInput placeholder="First Name" [(ngModel)]="firstName">
  </mat-form-field>
  <br/>
  <mat-form-field color="accent">
    <input matInput placeholder="Last Name" [(ngModel)]="lastName">
  </mat-form-field>
  <br/>
  <mat-form-field color="accent">
    <input matInput placeholder="Username" [(ngModel)]="userName">
  </mat-form-field>
  <br/>
  <section>
    <mat-radio-group [(ngModel)]="admin">
      <mat-radio-button class="example-margin" value="true">Admin</mat-radio-button>
      <br/>
      <br/>
      <mat-radio-button class="example-margin" value="false">User</mat-radio-button>
    </mat-radio-group>
  </section>
  <br/>
  <button mat-raised-button
          color="accent" (click)="submit()">Go
  </button>
  </mat-card>
</div>

