.lp-container {
  display: flex;
  flex-direction: column;
  margin-left: 5em;
}

.lp-container > * {
  width: 60%;
}

#golpbutton{
  flex-direction: column;
  marging-left: 10 em;
  display: flex;
}
