<form class="example-form">
  <mat-form-field class="example-full-width">
    <input [(ngModel)]="searchText" type="text " name="search" placeholder="Search product" aria-label="Number" matInput
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
<div>
  <div class="shopping-cart">
    <app-cart-content></app-cart-content>
  </div>
  <ul class="product-list">
    <li *ngFor="let product of products | productFilter:searchText" class="product-container">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
            <a [routerLink]="['/products', product.id]" class="product-detail" mat-button><i class="fas fa-info-circle"></i></a>
          </div>
          <mat-card-title>{{product.title}}</mat-card-title>
          <mat-card-subtitle>{{product.price | currency:'EUR': symbol}}</mat-card-subtitle>
        </mat-card-header>

        <img src="./assets/{{product.id}}.jpg"/>
        <mat-card-subtitle>{{product.type.toUpperCase()}}</mat-card-subtitle>
        <mat-card-subtitle>{{product.genre}}</mat-card-subtitle>
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <mat-form-field class="example-margin">
            <input
              min="0" max="100" matInput type="number"
              placeholder="Quantity" [(ngModel)]="quantity"
              name="quantity" oninput="validity.valid||(value='')">
          </mat-form-field>
          <button [disabled]="!quantity" mat-button (click)="addToCart(product, quantity)">Add to cart</button>
        </mat-card-actions>
      </mat-card>
    </li>
  </ul>
</div>
