<mat-card>
  <form class="addForm" [formGroup]="addNonFictionForm" (ngSubmit)="onSubmit()">

    <div fxLayout="row" fxLayoutGap="20px">
      <div class="item item-1" fxFlex="50%">
        <mat-form-field class="formField" appearance="standard">
          <mat-label>Title:</mat-label>
          <input matInput type="text" formControlName="title">
          <mat-hint>Max 100</mat-hint>
        </mat-form-field>
      </div>

      <div class="item item-2" fxFlex="25%">
        <mat-form-field class="formField"  appearance="standard">
          <mat-label>Price:</mat-label>
          <input matInput type="number" formControlName="price">
          <span matPrefix>€&nbsp;</span>
        </mat-form-field>
      </div>

      <div class="item item-3" fxFlex="25%">
        <mat-form-field class="formField"  appearance="standard">
          <mat-label>Supplier:</mat-label>
          <input matInput type="text" formControlName="supplier">
          <mat-hint>Max 100</mat-hint>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row" fxLayoutGap="20px">

      <div class="item item-1" fxFlex="25%">
        <mat-form-field class="formField" appearance="standard">
          <mat-label>Author:</mat-label>
          <input matInput type="text" formControlName="author">
        </mat-form-field>
      </div>

      <div class="item item-2" fxFlex="25%">
        <mat-form-field class="formField" appearance="standard">
          <mat-label>Isbn:</mat-label>
          <input matInput type="text" formControlName="isbn">
        </mat-form-field>
      </div>
      <div class="item item-3" fxFlex="25%">
        <mat-form-field class="formField" appearance="standard">
          <mat-label>Pages:</mat-label>
          <input matInput type="number" formControlName="pages">
        </mat-form-field>
      </div>
      <div class="item item-4" fxFlex="25%">
        <mat-form-field class="formField" appearance="standard">
          <mat-label>Subject:</mat-label>
          <mat-select formControlName="subject">

          </mat-select>
          <input matInput type="text" formControlName="subject">
        </mat-form-field>
      </div>
    </div>

    <button id="" mat-stroked-button color="accent">Add</button>
  </form>
</mat-card>
