<div class="outer">
  <br/>
  <br/>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{article.title}}</mat-card-title>
      <mat-card-subtitle>{{article.type}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

      <!--general properties article-->
      <p>
        Price : €{{article.price}}
      </p>
      <p>
        Supplier : {{article.supplierId}}
      </p>
      <p>
        Article ID : {{article.articleId}}
      </p>
      <!--game properties-->
      <p *ngIf="article.publisher">
        Publisher : {{article.publisher}}
      </p>
      <p *ngIf="article.gameGenre">
        Game genre : {{article.gameGenre.toLowerCase()}}
      </p>
      <p *ngIf="article.minimumAge">
        Minimum age: {{article.minimumAge}}
      </p>
      <!--lp properties-->
      <p *ngIf="article.artist">
        Artist: {{article.artist}}
      </p>
      <p *ngIf="article.lpGenre">
        LP genre: {{article.lpGenre.toLowerCase()}}
      </p>
      <!--book general properties-->
      <p *ngIf="article.author">
        Author: {{article.author}}
      </p>
      <p *ngIf="article.isbn">
        Isbn: {{article.isbn}}
      </p>
      <p *ngIf="article.numberOfPages">
        Number of pages: {{article.numberOfPages}}
      </p>
      <!--fiction book properties-->
      <p *ngIf="article.bookfictionGenre">
        Fiction genre: {{article.bookfictionGenre.toLowerCase()}}
      </p>
      <p *ngIf="article.summary">
        Summary: {{article.summary}}
      </p>
      <!--non fiction book properties-->
      <p *ngIf="article.booknonfictionGenre">
        Non Fiction genre: {{article.booknonfictionGenre.toLowerCase()}}
      </p>


    </mat-card-content>
    <mat-card-actions>
      <button *ngIf="currentUser && !currentUser.admin" mat-raised-button color="accent">Add to cart</button>
      <button *ngIf="currentUser && currentUser.admin" mat-raised-button color="primary">Edit</button>
      <button *ngIf="currentUser && currentUser.admin" (click)="deleteArticleById(articleId)" mat-raised-button
              color="warn">Delete
      </button>

    </mat-card-actions>
  </mat-card>
</div>
