<div class="outer">
  <br/>
  <br/>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{article.title}}</mat-card-title>
    <mat-card-subtitle>{{article.type}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <br/>
    <p>
      price : {{article.price}}
    </p>
    <p>
      supplier : {{article.supplierId}}
    </p>
    <p>
      article ID : {{article.articleId}}
    </p>
    <p *ngIf="article.publisher">
      Publisher : {{article.publisher}}
    </p>
    <p *ngIf="article.gameGenre">
      Game genre : {{article.gameGenre}}
    </p>
    <p *ngIf="article.minimumAge">
      Minimum age: {{article.minimumAge}}
    </p>
    <p *ngIf="article.artist">
      Minimum age: {{article.artist}}
    </p>
    <p *ngIf="article.lpGenre">
      Minimum age: {{article.lpGenre}}
    </p>
    <p *ngIf="article.minimumAge">
      Minimum age: {{article.minimumAge}}
    </p>
    <p *ngIf="article.minimumAge">
      Minimum age: {{article.minimumAge}}
    </p>


  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="accent">Add to cart</button>
    <button mat-raised-button color="primary">Edit</button>
    <button mat-raised-button color="warn">Delete</button>

  </mat-card-actions>
</mat-card>
</div>
