.example-card {
  max-width: 400px;
}

.outer {
  width: 80%;
  margin: 0 auto;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#deletebutton {
  background-color: #DA39D6;
  color: white;
}

#editbutton {
  background-color: #3141C6;
  color: white;
}


