.example-card {
  max-width: 400px;
  padding: 50px;
  margin-top: 100px;
}

.outer {
  width: 20em;
  margin: 0 auto;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#deletebutton {
  background-color: #fb3e4a;
  color: white;
}

#editbutton {
  background-color: #4ab6c6;
  color: white;
}

#backarrow {
  max-width: 18px;
  object-fit: contain;
}

#backspan {
  display: flex;
  justify-content: right;
}


