<div id="outer" *ngIf="currentUser && orderlineList && orderlineList.length > 0">

  <!--<mat-form-field color="accent">-->
  <!--<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">-->
  <!--</mat-form-field>-->
  <div id="inner" class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <h2 class="ellis">Check out your orders, {{this.currentUser.userName}}!</h2>
      <!--OrderId Column-->
      <ng-container matColumnDef="orderId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Order Id</th>
        <td mat-cell *matCellDef="let order"> {{order.orderId}}</td>
      </ng-container>

      <!--totalPrice Column-->
      <ng-container matColumnDef="totalPrice">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Price</th>
        <td mat-cell *matCellDef="let order"> € {{order.price | number: '1.2-2' }}</td>
      </ng-container>

      <!--orderStatus Column-->
      <ng-container matColumnDef="orderStatus">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Order Status</th>
        <td mat-cell *matCellDef="let order"> {{order.orderStatus}}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>

<div class="other" *ngIf="!orderlineList">

  <mat-card class="example-card">

    <mat-card-header>


    </mat-card-header>

    <mat-card-content>

      <p>
        At this moment, you haven't placed any orders yet.
      </p>

    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button color="accent" id="backToArticles" routerLink="/articles">Go back to articles</button>
    </mat-card-actions>
  </mat-card>
</div>

