table {
  width: 97%;
  margin: auto;
}

#outer {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
  padding-top: 1em;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-form-field {
  margin: 0 auto;
  padding-left: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card {
  margin: 0 auto;
  padding-left: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.example-card {
  max-width: 400px;
  padding: 50px;
  margin-top: 100px;
}

#other {
  width: 20em;
  /*margin: 0 auto;*/
  height: 60vh;
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  margin-left: 300px;
  margin-right: auto;
}


