/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.addForm{
  width: 25%;
  margin: 2%;
}

table {
  width: 100%;
}

.table{
  margin-top:5% ;
  margin-left:10%;
  margin-right:10%;
  margin-bottom:10%
}

