/* You can add global styles to this file, and also import other style files */

html {
  height: 100%;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

table {
  width: 100%;
}

.table{
  margin-top:5% ;
  margin-left:10%;
  margin-right:10%;
  margin-bottom:10%
}

.banner{
  height: 200px;
  width:100%
}


.afterNavMessage {
  margin-bottom: 2%;
  margin-left: 2%;
  margin-top: 2%;
}

.detailCard{

  max-width: 300px;
  margin-left: 2%;

}

.navBar{
  margin-bottom: 2%;
}
