<mat-toolbar color="primary" class="shoprToolBar">
  <mat-toolbar-row>
    <span>Shopr Navbar</span>
    <span><button mat-button routerLink="/home">Home</button></span>
    <span><button mat-button routerLink="/shop">Shop</button></span>
    <span><button mat-button routerLink="/add">Add Articles</button></span>
    <span><button mat-button routerLink="/o">Test</button></span>
    <span class="mySpacer"></span>
    <span *ngIf="currentUser"><button mat-button routerLink="/user">{{currentUser.firstName}} {{currentUser.name}}<mat-icon>account_circle</mat-icon></button></span>
    <span><button mat-icon-button routerLink="/cart"><mat-icon align="right">shopping_cart</mat-icon></button></span>
    <span *ngIf="currentUser"><button mat-button routerLink="/home" (click)="logout()">Logout</button></span>
    <span *ngIf="!currentUser"><button mat-button routerLink="/home">Login</button></span>
  </mat-toolbar-row>
</mat-toolbar>

