<div style="align-content: center">
  <mat-card>

    <form (ngSubmit)="createNonFiction()" [formGroup]="createNonFictionForm">

      <table cellspacing="20" class="create-non-fiction">
        <tr>
          <td>
            <mat-form-field class="create-non-fiction-read-only">
              <input formControlName="type" matInput placeholder="Article type">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="create-non-fiction">
              <input formControlName="title" matInput placeholder="Title">
              <mat-error *ngFor="let validation of validation_messages.title">
                <mat-error *ngIf="createNonFictionForm.get('title').hasError(validation.type) && (createNonFictionForm.get('title').dirty
                 || createNonFictionForm.get('title').touched || createNonFictionForm.get('title').pending)" class="error-message">{{validation.message}}</mat-error>
              </mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="create-non-fiction">
              <input formControlName="author" matInput placeholder="Author">
              <mat-error *ngFor="let validation of validation_messages.author">
                <mat-error *ngIf="createNonFictionForm.get('author').hasError(validation.type) && (createNonFictionForm.get('author').dirty
                 || createNonFictionForm.get('author').touched || createNonFictionForm.get('author').pending)" class="error-message">{{validation.message}}</mat-error>
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="create-non-fiction">
              <input [dropSpecialCharacters]="false" [formControl]="createNonFictionForm.controls['price']" mask="999999.00"
                     matInput placeholder="Price">
              <mat-error *ngFor="let validation of validation_messages.price">
              <mat-error *ngIf="createNonFictionForm.get('price').hasError(validation.type) && (createNonFictionForm.get('price').dirty
                 || createNonFictionForm.get('price').touched || createNonFictionForm.get('price').pending)" class="error-message">{{validation.message}}</mat-error>
              </mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="create-non-fiction">
              <mat-select class="mat-select-menu" formControlName="nonFictionSubject" placeholder="Non fiction subject">
                <mat-option *ngFor="let genre of nonFictionSubjects()" [value]="genre">
                  {{genre}}
                </mat-option>
              </mat-select>
              <mat-error *ngFor="let validation of validation_messages.nonFictionSubject">
                <mat-error *ngIf="createNonFictionForm.get('nonFictionSubject').hasError(validation.type) && (createNonFictionForm.get('nonFictionSubject').dirty
                 || createNonFictionForm.get('nonFictionSubject').touched || createNonFictionForm.get('nonFictionSubject').pending)" class="error-message">{{validation.message}}</mat-error>
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="create-non-fiction">
              <input [dropSpecialCharacters]="false" [formControl]="createNonFictionForm.controls['isbn']" mask="000-00-0000-000-0" matInput
                     placeholder="Isbn" type="text">
              <mat-error *ngFor="let validation of validation_messages.isbn">
                <mat-error *ngIf="createNonFictionForm.get('isbn').hasError(validation.type) && (createNonFictionForm.get('isbn').dirty
                 || createNonFictionForm.get('isbn').touched || createNonFictionForm.get('isbn').pending)" class="error-message">{{validation.message}}</mat-error>
              </mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="create-non-fiction">
              <input [formControl]="createNonFictionForm.controls['nrOfPages']" mask="9999" matInput
                     placeholder="nr of pages">
              <mat-error *ngFor="let validation of validation_messages.nrOfPages">
                <mat-error *ngIf="createNonFictionForm.get('nrOfPages').hasError(validation.type) && (createNonFictionForm.get('nrOfPages').dirty
                 || createNonFictionForm.get('nrOfPages').touched || createNonFictionForm.get('nrOfPages').pending)" class="error-message">{{validation.message}}</mat-error>
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="create-non-fiction">
              <input formControlName="supplierId" matInput placeholder="Supplier ID">
              <mat-error *ngFor="let validation of validation_messages.supplierId">
                <mat-error *ngIf="createNonFictionForm.get('supplierId').hasError(validation.type) && (createNonFictionForm.get('supplierId').dirty
                 || createNonFictionForm.get('supplierId').touched || createNonFictionForm.get('supplierId').pending)" class="error-message">{{validation.message}}</mat-error>
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>

        </tr>
        <tr>
          <button class="green-button" mat-raised-button type=submit>
            Submit
          </button>
        </tr>
      </table>

    </form>

  </mat-card>
</div>
