<div style="align-content: center">
  <mat-card>

    <form (ngSubmit)="createNonFiction()" [formGroup]="createNonFictionForm">

      <table cellspacing="20" class="create-non-fiction">
        <tr>
          <td>
            <mat-form-field class="create-non-fiction-read-only">
              <input formControlName="type" matInput placeholder="Article type">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="create-non-fiction-read-only">
              <input [readonly]="type" formControlName="bookType" matInput placeholder="Book type">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="create-non-fiction">
              <input formControlName="title" matInput placeholder="Title">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="create-non-fiction">
              <input formControlName="author" matInput placeholder="Author">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="create-non-fiction">
              <input formControlName="price" matInput placeholder="Price">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="create-non-fiction">
              <mat-select formControlName="nonFictionSubject" placeholder="Non fiction subject">
                <mat-option *ngFor="let genre of nonFictionSubjects()" [value]="genre">
                  {{genre}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="create-non-fiction">
              <input formControlName="isbn" matInput placeholder="Isbn">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="create-non-fiction">
              <input formControlName="nrOfPages" matInput placeholder="nr of pages">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="create-non-fiction">
              <input formControlName="supplierId" matInput placeholder="Supplier ID">
            </mat-form-field>
          </td>
        </tr>
        <tr>

        </tr>
        <tr>
          <button class="submit-button" mat-button type=submit>
            Submit
          </button>
        </tr>
      </table>

    </form>

  </mat-card>
</div>
