table {
  width: 97%;
  margin: auto;
}
#outer{
   width: 80%;
   margin: 0 auto;
  margin-bottom: 50px;
  background-color: white;
  padding-top: 1em;
 }
mat-form-field{
  margin: 0 auto;
  padding-left: 1em;
}

.mat-form-field-infix {
  margin-left: 50px;
}
