@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.mainbody{
  margin: 0;
  padding-bottom: auto;
}

body {
  min-height: 100vh;
  background-image: url(/assets/img/cobblestone-554610_1280.jpg);
  /*background-repeat: repeat;*/
  background-repeat: no-repeat;
  background-size: cover;
}

.ellis {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #ff4081;
  margin: 0.2em;
  margin-top: 1.2em;
  text-align: center;
  padding-top: 1em;
}

.create-container {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  margin-left: 5em;
}

.create-container > * {
  width: 60%;
}

.gocreatebutton {
  flex-direction: column;
  margin-left: 10em;
  display: flex;
  max-width: 100px;
}

.selectcreate {
  max-width: 200px;
  margin-top: 20px;
  margin-bottom: 35px;
}

