<div class="container">
  <!--<div fxLayout="row" fxLayoutAlign="start center" class="toolbar">-->
    <!--<div class="blocks" fxFlex="20%">1</div>-->
    <!--<div class="blocks" fxFlex="60%">-->
      <!--<mat-toolbar>-->
        <!--<span [routerLink]="['/products']">Back</span>-->
        <!--<span class="example-spacer"></span>-->
        <!--<mat-icon class="example-icon">favorite</mat-icon>-->
        <!--<mat-icon class="material-icons">-->
          <!--shopping_cart-->
        <!--</mat-icon>-->
      <!--</mat-toolbar>-->
    <!--</div>-->
    <!--<div class="blocks" fxFlex>3</div>-->
  <!--</div>-->

</div>


<!--<mat-card class="cardheader">-->
  <!--<mat-card-header>-->
    <!--<div mat-card-avatar class="example-header-image"></div>-->
    <!--<mat-card-title>Shiba Inu</mat-card-title>-->
    <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
  <!--</mat-card-header>-->
  <!--<mat-card-actions>-->
    <!--<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
  <!--</mat-card-actions>-->
<!--</mat-card>-->

<!--<mat-card class="cardContent">-->
  <!--<mat-card-content>-->
    <!--<p>-->
      <!--The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.-->
      <!--A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally-->
      <!--bred for hunting.-->
    <!--</p>-->
  <!--</mat-card-content>-->
<!--</mat-card>-->

<!--<mat-card class="card">-->
<!--<mat-card-header>-->
<!--<div mat-card-avatar class="example-header-image"></div>-->
<!--<mat-card-title>{{product.title}}</mat-card-title>-->
<!--<mat-card-subtitle>{{product.price}}</mat-card-subtitle>-->
<!--</mat-card-header>-->
<!--<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
<!--<mat-card-content>-->
<!--<p>-->
<!--The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.-->
<!--A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally-->
<!--bred for hunting.-->
<!--</p>-->
<!--</mat-card-content>-->
<!--</mat-card>-->
