.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 97.5%;
  height: 50%;
}

img {
  width: 400px;
  margin: 20px 0;
}

mat-card-content {

}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

