<mat-card>
  <form class="addForm" #f="ngForm" (ngSubmit)="onSubmit(f)">

    <div fxLayout="row" fxLayoutGap="20px">
      <div class="item item-1" fxFlex="50%">
        <mat-form-field class="formField" appearance="standard">
          <mat-label>Title:</mat-label>
          <input matInput type="text" name="title" ngModel>
          <mat-hint>Max 100</mat-hint>
        </mat-form-field>
      </div>

      <div class="item item-2" fxFlex="25%">
        <mat-form-field class="formField"  appearance="standard">
          <mat-label>Price:</mat-label>
          <input matInput type="number" name="price" ngModel>
          <span matPrefix>€&nbsp;</span>
        </mat-form-field>
      </div>

      <div class="item item-3" fxFlex="25%">
        <mat-form-field class="formField"  appearance="standard">
          <mat-label>Supplier:</mat-label>
          <input matInput type="text" name="supplier" ngModel>
          <mat-hint>Max 100</mat-hint>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row" fxLayoutGap="20px">

      <div class="item item-1" fxFlex="25%">
        <mat-form-field class="formField" appearance="standard">
          <mat-label>Author:</mat-label>
          <input matInput type="text" name="author" ngModel>
        </mat-form-field>
      </div>

      <div class="item item-2" fxFlex="25%">
        <mat-form-field class="formField" appearance="standard">
          <mat-label>Isbn:</mat-label>
          <input matInput type="text" name="isbn" ngModel>
        </mat-form-field>
      </div>
      <div class="item item-3" fxFlex="25%">
        <mat-form-field class="formField" appearance="standard">
          <mat-label>Pages:</mat-label>
          <input matInput type="number" name="pages" ngModel>
        </mat-form-field>
      </div>
      <div class="item item-4" fxFlex="25%">
        <mat-form-field class="formField" appearance="standard">
          <mat-label>Genre:</mat-label>
          <input matInput type="text" name="genre" ngModel>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row" fxLayout="20px">
      <mat-form-field appearance="outline" fxFlex="100%">
        <mat-label>Synopsis:</mat-label>
        <input matInput #input maxlength="255" type="text" name="synopsis" ngModel>
        <mat-hint>Max 255</mat-hint>
        <mat-hint align="end">{{input.value?.length || 0}}/255</mat-hint>
      </mat-form-field>
    </div>

    <button id="" mat-stroked-button color="accent">Add</button>

  </form>
</mat-card>
