<mat-card>
<form class="addForm" #f="ngForm" (ngSubmit)="onSubmit(f)">
  <mat-form-field appearance="standard">
    <mat-label>Title:</mat-label>
    <input matInput type="text" name="title" ngModel>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Author:</mat-label>
    <input matInput type="text" name="author" ngModel>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Isbn:</mat-label>
    <input matInput type="text" name="isbn" ngModel>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Pages:</mat-label>
    <input matInput type="number" name="pages" ngModel>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Genre:</mat-label>
    <input matInput type="text" name="genre" ngModel>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Synopsis:</mat-label>
    <input matInput type="text" name="synopsis" ngModel>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Price:</mat-label>
    <input matInput type="number" name="price" ngModel>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Supplier</mat-label>
    <input matInput type="text" name="supplier" ngModel>
  </mat-form-field>
  <button id="" mat-stroked-button color="accent">Add</button>
</form>
</mat-card>
