<div>
  <mat-card class="loginCard">

    <table cellspacing="0" class="register-user">
      <tr>
        <td>
          <mat-form-field class="login">
            <mat-select [(ngModel)]="selectedUser" placeholder="Username">
              <mat-option *ngFor="let user of users" [value]="user.userName">
                {{user.userName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <button (click)="login()" class="green-button" mat-raised-button>
          Login
        </button>
      </tr>
    </table>

  </mat-card>
</div>

<app-register></app-register>
