<div>
  <mat-card class="loginCard">
    <form [formGroup]="loginForm" (ngSubmit)="login()">

      <table class="register-user" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="login">
              <input matInput placeholder="Username" formControlName="userName">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <button mat-raised-button class="green-button" type=submit>
            Login
          </button>
        </tr>
      </table>

    </form>
  </mat-card>
</div>

<app-register></app-register>
