<div>
  <mat-card class="loginCard">
    <form (ngSubmit)="login()" [formGroup]="loginForm">

      <table cellspacing="0" class="register-user">
        <tr>
          <td>
            <mat-form-field class="login">
              <input formControlName="userName" matInput placeholder="Username">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <button class="green-button" mat-raised-button type=submit>
            Login
          </button>
        </tr>
      </table>

    </form>
  </mat-card>
</div>

<app-register></app-register>
