<div class="bookfiction-container">
  <mat-form-field color="accent">
    <input matInput placeholder="Title" [(ngModel)]="title">
  </mat-form-field>
  <mat-form-field color="accent">
    <input matInput placeholder="Price" [(ngModel)]="price">
  </mat-form-field>
  <mat-form-field color="accent">
    <input matInput placeholder="Publisher" [(ngModel)]="publisher">
  </mat-form-field>
  <mat-form-field color="accent">
    <input matInput placeholder="Supplier Id" [(ngModel)]="supplierId">
  </mat-form-field>
  <mat-form-field color="accent">
    <input matInput placeholder="Minimum Age" [(ngModel)]="minimumAge">
  </mat-form-field>

  <mat-select placeholder="Bookfictiongenre" [(ngModel)]="bookfictionGenre">
    <mat-option *ngFor="let bookfictionGenre of bookfictionGenres" [value]="bookfictionGenre">
      {{bookfictionGenre}}
    </mat-option>
  </mat-select>


</div>

<button id="gobookfictionbutton" mat-raised-button
        color="accent" (click)="submit()">Go</button>
