<div class="game-container">
  <mat-form-field color="accent">
    <input matInput placeholder="Title" [(ngModel)]="title">
  </mat-form-field>
  <mat-form-field color="accent">
    <input matInput placeholder="Price">
  </mat-form-field>
  <mat-form-field color="accent">
    <input matInput placeholder="Publisher">
  </mat-form-field>
  <mat-form-field color="accent">
    <input matInput placeholder="Supplier Id">
  </mat-form-field>
  <mat-form-field color="accent">
    <input matInput placeholder="Minimum Age">
  </mat-form-field>

  <mat-select placeholder="Gamegenre" [(ngModel)]="selectedValue">
    <mat-option *ngFor="let gamegenre of gamegenres" [value]="gamegenre">
      {{gamegenre}}
    </mat-option>
  </mat-select>

  <button mat-raised-button
          color="accent" (click)="submit()">Go</button>
</div>

