.game-container {
  display: flex;
  flex-direction: column;
  margin-left: 5em;
}

.game-container > * {
  width: 60%;
}

#gobutton{
  flex-direction: column;
  marging-left: 10 em;
  display: flex;
}
