<mat-toolbar>
  <a class="nav-shopr" routerLink="/">
    <span class="orange"><span class="green">Shop</span>R</span>
  </a>
  <button mat-button routerLink="/users">User overview</button>
  <button mat-button routerLink="/shop">Shop</button>
  <button mat-button routerLink="/article/create-article">Create Article</button>
  <div fxFlex></div>
  <button mat-button routerLink="/shoppingCart">ShoppingCart</button>
  <button *ngIf="!currentUser" mat-button routerLink="/login">Register/Login</button>
  <button *ngIf="currentUser" [matMenuTriggerFor]="user"
          mat-button> {{currentUser.firstName}} {{currentUser.name}}</button>
  <mat-menu #user="matMenu">
    <button (click)="logout()" mat-button>Logout</button>
  </mat-menu>
</mat-toolbar>
