.orange {
  color: #f39200;
  padding-right: 20px;
}

.green {
  color: #259040;
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  background-color: white;
}

button {
  color: #f39200;
}

.fill-space{
  flex: 1 1 auto;
}

.nav-shopr{
  text-decoration: none;
}
