<mat-toolbar>
  <a class="nav-shopr" routerLink="/">
    <span class="orange"><span class="green">Shop</span>R</span>
  </a>
  <button mat-button routerLink="/users">User overview</button>
  <button mat-button routerLink="/shop">Shop</button>
  <button mat-button routerLink="/article/create-article">Create Article</button>
  <div fxFlex></div>
  <button mat-button routerLink="/shoppingCart">ShoppingCart</button>
  <button mat-button routerLink="/login">Register/Login</button>
  <button *ngIf="currentUser" [matMenuTriggerFor]="user"
          mat-button> {{currentUser.firstName}} {{currentUser.name}}</button>
  <mat-menu #user="matMenu">
    <button (click)="logout()" mat-button>Logout</button>
  </mat-menu>
</mat-toolbar>
<!--<mat-toolbar>-->
<!--<a routerLink="/">-->
<!--<span class="orange"><span class="green">Shop</span>R</span>-->
<!--</a>-->
<!--<div>-->
<!--<button mat-button [matMenuTriggerFor]="menu">Menu</button>-->
<!--<mat-menu #menu="matMenu">-->
<!--<button mat-menu-item routerLink="/register">Register/Login</button>-->
<!--<button mat-menu-item *ngIf="currentUser.admin === false" routerLink="/articles">Article overview</button>-->
<!--<button mat-menu-item *ngIf="currentUser.admin === true" routerLink="/article/create-article">Create Article</button>-->
<!--<button mat-menu-item *ngIf="currentUser.admin === true" routerLink="/users">User overview</button>-->
<!--</mat-menu>-->
<!--<button mat-button *ngIf="currentUser!" routerLink="/login" >Register/Login</button>-->
<!--<span>{{currentUser.firstName}} {{currentUser.name}}</span>-->
<!--<button mat-button *ngIf="userService.getCurrentUser()" (click)="userService.removeCurrentUserFromStorage(userService.getCurrentUser())">Logout</button>-->
<!--</div>-->
<!--</mat-toolbar>-->
