<div class="myContainer">
  <h5>Add Articles here.</h5>
  <br>
  <mat-tab-group mat-stretch-tabs>
    <mat-tab label="Game">
      <app-add-game></app-add-game>
    </mat-tab>
    <mat-tab label="Lp">
      <app-add-lp></app-add-lp>
    </mat-tab>
    <mat-tab label="Fiction Book">
      <app-add-fiction></app-add-fiction>
    </mat-tab>
    <mat-tab label="Non-Fiction Book">
      <app-add-non-fiction></app-add-non-fiction>
    </mat-tab>
  </mat-tab-group>

  <h5>Lists of articles by type.</h5>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>List of Lp's</mat-expansion-panel-header>
      <app-lp-overview></app-lp-overview>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>List of Games</mat-expansion-panel-header>
      <app-game-overview></app-game-overview>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>List of Fiction Books</mat-expansion-panel-header>
      <app-fiction-overview></app-fiction-overview>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>List of Non-Fiction Books</mat-expansion-panel-header>
      <app-non-fiction-overview></app-non-fiction-overview>
    </mat-expansion-panel>
  </mat-accordion>
</div>
