<mat-card>
  <div class="myPanel" id="register">
    <p>Register here!</p>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div fxLayout="row" fxLayoutGap="20px" fxFlexAlign="end">
        <mat-form-field appearance="standard">
          <input matInput id="firstName" placeholder="First Name" type="text"
                 required #firstName formControlName="firstName">
        </mat-form-field>
        <mat-form-field appearance="standard">
          <input matInput id="name" placeholder="Last Name" type="text" formControlName="name"
                 #name>
        </mat-form-field>
        <button id="register-button" mat-stroked-button color="accent"
                (click)="openSnackBar(firstName.value, name.value)">Register
        </button>
      </div>
    </form>
  </div>
</mat-card>



