<div>
<h3> Shopping Cart</h3>
</div>
<table matSort class="cartTable">
  <tr>
    <th mat-sort-header="name">Item</th>
    <th mat-sort-header="title">Title</th>
    <th mat-sort-header="price">price</th>
    <th mat-sort-header="quantity">quantity</th>
    <th mat-sort-header="subTotal">Subtotal</th>
  </tr>

  <tr *ngFor="let orderLine of orderLines">
    <td>{{orderLine.item.type}}</td>
    <td>{{orderLine.item.title}}</td>
    <td>{{orderLine.item.price}}</td>
    <td>{{orderLine.quantity}}</td>
    <td>{{orderLine.subTotal}}</td>
    <td><button mat-button (click)="deleteById(orderLine.id)">Delete</button></td>
  </tr>
</table>







<div style="margin-bottom:10px ">
<button mat-button="order" (click)="placeOrder()">Order!</button>
</div>


