<div *ngIf="!game">Loading</div>
<div *ngIf="game">
  <div class="myContainer">
    <mat-card class="mat-card">
      <mat-card-header>
        <!--<div mat-card-avatar=""></div>-->
        <mat-card-title>{{game.title}}</mat-card-title>
        <mat-card-subtitle>Publisher: {{game.publisher}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Details here.</p>
      </mat-card-content>
      <mat-card-actions>
        <app-order-article [article]="game"></app-order-article>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
