/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  background-color: whitesmoke;
  margin-left: 10%;
  margin-right: 10%;
}

.green-button {
  background-color: limegreen;
  color: white;
}

.mat-option {
  height: 30px !important;
}

.mat-select-menu{
  height: 10px;
}

.submit-quantity{
  width: 8%;
  margin-right: 3%;
}
