@import "../node_modules/angular-material/angular-material.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  background-color: aliceblue;
  font-family: "Source Code Pro";
  align-self: center;
  height: 100%;
  margin: 0px;
}

.flex-container{
  display: flex;
  flex-direction: column;
}

.flex-container > * {
  width: 80%;
  margin: 0 auto;
}

.container {
  background: #abcbff;
  alignment: center;
  margin-left: 180px;
  margin-right: 180px;
  flex-direction: column;
  margin-top: 0px;

}

.userDetailCard{
  padding: 20px;
  margin: 20px;
}


