.booknonfiction-container {
  display: flex;
  flex-direction: column;
  margin-left: 5em;
}

.booknonfiction-container > * {
  width: 60%;
}

#gobooknonfictionbutton {
  flex-direction: column;
  marging-left: 10em;
  display: flex;
}
