<mat-card class="myPanel-first">
  <div class="myPanel" id="login">
    <p>
      login here!
    </p>
    <div>
      <form fxLayoutGap="20px">
        <mat-form-field appearance="outline">
          <mat-select placeholder="Select User" [(value)]="currentUser">
            <mat-option *ngFor="let user of users" [value]="user">
              {{user.firstName}} {{user.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-stroked-button color="accent" (click)="onSubmit()">Login</button>
      </form>
    </div>
  </div>
</mat-card>
