<form>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <h1>ShopR</h1>
      <a mat-button routerLink="/">Home</a>

      <span class="spacer"></span>
      <ng-container *ngIf="!isLoggedIn">
        <button mat-button routerLink="/register">Register</button>
        <button mat-button routerLink="/login">Login</button>
      </ng-container>
      <ng-container *ngIf="isLoggedIn">
        Welcome {{currentUser}} !
        <button mat-button routerLink="/dashboard">Dashboard</button>
        <button mat-button (click)="logout()">Logout</button>
      </ng-container>
    </mat-toolbar-row>
  </mat-toolbar>
</form>
