<mat-toolbar class="navbar" color="accent">
  <mat-toolbar-row >
    <span> <a routerLink="/home"><img src="assets/img/cup.elephant.png" alt="Avatar" class="image" style="width:100%"> </a></span>
  <br/>
    <button mat-stroked-button class="navbarbutton" routerLink="/articles">All articles</button>
    <button *ngIf="currentUser && !currentUser.admin" mat-stroked-button class="navbarbutton"
            routerLink="/shoppingcart">
      Shopping Cart
    </button>
    <button *ngIf="currentUser && !currentUser.admin" mat-stroked-button class="navbarbutton" (click)="goToOrders()">My
      Orders
    </button>
    <button *ngIf="currentUser && currentUser.admin" mat-stroked-button class="navbarbutton" routerLink="/create">
      Create
    </button>
    <button *ngIf="currentUser" mat-stroked-button class="navbarbutton" (click)="logout()">Logout</button>
    <button *ngIf="!currentUser" mat-stroked-button class="navbarbutton" routerLink="/signin">Login</button>
    <!--<button *ngIf="!currentUser" mat-stroked-button class="navbarbutton" routerLink="/register">Register</button>-->
    <!--<button *ngIf="currentUser" mat-stroked-button class="navbarbutton">{{currentUser.userName}}</button>-->
  </mat-toolbar-row>
</mat-toolbar>
