<div class="myContainer">
  <form class="inesForm" #f="ngForm" (ngSubmit)="onSubmit(f)" >
    <mat-form-field appearance="standard">
      <input matInput id="firstName" placeholder="First Name" type="text" name="firstName" ngModel>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <input matInput id="name" placeholder="Last Name" type="text" name="name" ngModel>
    </mat-form-field>
    <button id="register-button" mat-stroked-button color="accent" >Register</button>
  </form>

</div>




