<div style="align-content: center">
  <mat-card>

    <form (ngSubmit)="registerUser()" [formGroup]="registerUserForm">

      <table cellspacing="0" class="register-user">
        <tr>
          <td>
            <mat-form-field class="register-user">
              <input formControlName="userName" matInput placeholder="userName">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="register-user">
              <input formControlName="firstName" matInput placeholder="First name">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="register-user">
              <input formControlName="name" matInput placeholder="Name">
            </mat-form-field>
          </td>
          <td>
            <mat-checkbox formControlName="admin">
              Admin
            </mat-checkbox>
          </td>
        </tr>
        <tr>
          <button class="green-button" mat-raised-button type=submit>
            Register
          </button>
        </tr>
      </table>

    </form>

  </mat-card>
</div>
