.example-card {
  width: 25em;
}

.outer {
  width: 80%;
  margin: 0 auto;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#account {
  font-size: x-small;
  padding-top: 10px;
}
