
<app-navbar></app-navbar>
<div class="afterNavMessage">
  <h3> cReate Game</h3>
</div>

<div  class="addForm">
    <div class="addGame">
      <form class="createGameForm" #f="ngForm" (ngSubmit)="addGame(f)">

        <div class="addItems">
          <app-add-items (newPrice)="setPrice($event)" (newTitle)="setTitle($event)" ></app-add-items>
        </div>


        <div>
          <mat-form-field >
            <input matInput placeholder="Minimum Age" ngModel name="minAge">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field >
            <input matInput placeholder="publisher" ngModel name="publisher">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field >
            <input matInput placeholder="Genre" ngModel name="genre">
          </mat-form-field>
        </div>
        <button mat-button>cReate!</button>
      </form>
    </div>

</div>











<app-footer></app-footer>
