
<div >
  <h3> cReate Game</h3>
</div>


<div >
  <form  #f="ngForm" (ngSubmit)="addGame(f)">
    <div>
      <div>
        <app-add-items (newPrice)="setPrice($event)" (newTitle)="setTitle($event)"></app-add-items>
      </div>

      <div class="uno">
        <mat-form-field>
          <input matInput placeholder="Minimum Age" ngModel name="minAge">
        </mat-form-field>
      </div>

      <div class="dos">
        <mat-form-field>
          <input matInput placeholder="publisher" ngModel name="publisher">
        </mat-form-field>
      </div>
      <div class="tres">
        <mat-form-field>
          <input matInput placeholder="Genre" ngModel name="genre">
        </mat-form-field>
      </div>
      <button mat-button>cReate!</button>
    </div>
  </form>

</div>


