<div *ngIf="!fiction">Loading</div>
<div *ngIf="fiction">
  <div class="myContainer">
    <mat-card class="mat-card">
      <mat-card-header>
        <!--<div mat-card-avatar=""></div>-->
        <mat-card-title>{{fiction.title}}</mat-card-title>
        <mat-card-subtitle>by {{fiction.author}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Synopsis</p>
        <p>{{fiction.synopsis}}</p>
        <p>Pages: {{fiction.pages}} </p>
      </mat-card-content>
      <mat-card-actions>
        <app-order-article [article]="fiction"></app-order-article>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
