<mat-toolbar>
  <span>Registration</span>
</mat-toolbar>
<mat-card class="card">
  <mat-card-content>
    <form [formGroup]="registrationForm" (ngSubmit)="registerUser()">
      <mat-form-field class="full-width">
        <mat-label>User Name</mat-label>
        <input  matInput  placeholder="User name"  formControlName="username">
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>First Name</mat-label>
        <input  matInput  placeholder="First name"  formControlName="firstname">
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Last Name</mat-label>
        <input  matInput  placeholder="Last Name" formControlName="lastname">
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input  matInput type="password"  placeholder="Password" formControlName="password">
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input  matInput type="password"  placeholder="Password" formControlName="confirmPassword">
      </mat-form-field>

      <mat-card-actions>
        <button mat-raised-button [disabled]="!registrationForm.valid" type="submit" color="primary">REGISTER</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
