table {
  width: 97%;
  margin: auto;
}

#outer {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
  background-color: white;
  /*padding-top: 1em;*/
}

.price {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;

}

.price-mat-card {
  box-shadow: none;
  padding: 8px 0 0 0;

}

.order-button {
  /*display: block;*/
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  /*width: 40%;*/
  display: flex;
  justify-content: center;
  padding-bottom: 8px;
}


