table {
  width: 100%;
}

.mat-elevation-z8 {
  width: 70%;
}

.mat-form-field {
  font-size: 14px;
  width: 50%;
}

/*td, th {*/
  /*width: 25%;*/
/*}*/

/*.mat-header-row {*/
  /*font-size: 18px;*/
/*}*/
